[Desktop Entry]
Name=FreeTube
Comment=An open source desktop YouTube player built with privacy in mind.
Exec=/usr/bin/freetube %U
Terminal=false
Type=Application
Icon=freetube
Categories=Network;
StartupWMClass=FreeTube
MimeType=x-scheme-handler/freetube;
